.splitpanes {
  background-color: transparent;
}

.splitpanes__splitter {
  background-color:transparent;
  position: relative;
  box-sizing: border-box;
  flex-shrink:0;
  &:before,&:after {
    content:"";
    position: absolute;
    top:50%;
    left:50%;
    z-index: 100;
    background-color: var(--ud-line-color-2);
  }
}

.splitpanes--vertical{
  >.splitpanes__splitter{

    width:8px;
    border-left:1px solid var(--ud-line-color-2);
    border-right:1px solid var(--ud-line-color-2);
    margin-left:-1px;
    &:before{
      margin-left:-2px;
      transform: translate(-50%);
      height: 30px;
      width: 0.8px;
    }
    &:after{
      margin-left:1px;
      transform: translate(-50%);
      height: 30px;
      width: 0.8px;
    }
  }
}

.splitpanes--horizontal {
  >.splitpanes__splitter{
    height:8px;
    border-top:1px solid var(--ud-line-color-2);
    border-bottom:1px solid var(--ud-line-color-2);
    margin-top:-1px;
    &:before{
      margin-top:-2px;
      transform: translate(-50%);
      width: 30px;
      height: 0.8px;
    }
    &:after{
      margin-top:1px;
      transform: translate(-50%);
      width: 30px;
      height: 0.8px;
    }
  }
}


