//bootstrap
// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

//$enable-caret:                false !default;
//$enable-rounded:              false !default;
//$enable-shadows:              false !default;
//$enable-gradients:            false !default;
//$enable-transitions:          false !default;
//$enable-reduced-motion:       false !default;
//$enable-smooth-scroll:        false !default;
$enable-grid-classes:         true !default;
//$enable-container-classes:    false !default;
$enable-cssgrid:              false !default;
//$enable-button-pointers:      false !default;
//$enable-rfs:                  false !default;
//$enable-validation-icons:     false !default;
//$enable-negative-margins:     false !default;
//$enable-deprecation-messages: true !default;
$enable-important-utilities:  true !default;

//$enable-dark-mode:            true !default;
//$color-mode-type:             data !default; // `data` or `media-query`

// Prefix for :root CSS variables

$variable-prefix:             null !default; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix:                      $variable-prefix !default;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

// scss-docs-start spacer-variables-maps
$spacer: 4px !default;
$spacers: (
        0: 0,
        1: $spacer,
        2: $spacer * 1.5,
        3: $spacer * 2,
        4: $spacer * 3,
        5: $spacer * 4,
        6: $spacer * 5,
        7: $spacer * 6,
        8: $spacer * 7,
        9: $spacer * 8,
        10: $spacer * 10,
) !default;
// scss-docs-end spacer-variables-maps

// Position
//
// Define the edge positioning anchors of the position utilities.

// scss-docs-start position-map
$position-values: (
        0: 0,
        50: 50%,
        100: 100%
) !default;
// scss-docs-end position-map

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
) !default;
// scss-docs-end grid-breakpoints

// Grid columns
// Set the number of columns and specify the width of the gutters.

$grid-columns:                24 !default;
$grid-gutter-width:           1.5rem !default;
$grid-row-columns:            6 !default;


// scss-docs-start zindex-stack
$zindex-dropdown:                   1000 !default;
$zindex-sticky:                     1020 !default;
$zindex-fixed:                      1030 !default;
$zindex-offcanvas-backdrop:         1040 !default;
$zindex-offcanvas:                  1045 !default;
$zindex-modal-backdrop:             1050 !default;
$zindex-modal:                      1055 !default;
$zindex-popover:                    1070 !default;
$zindex-tooltip:                    1080 !default;
$zindex-toast:                      1090 !default;
// scss-docs-end zindex-stack

// scss-docs-start zindex-levels-map
$zindex-levels: (
        n1: -1,
        0: 0,
        1: 1,
        2: 2,
        3: 3
) !default;
// scss-docs-end zindex-levels-map


$space-value: (
        '10': 10%,
        '20': 20%,
        '30': 30%,
        '40': 40%,
        '50': 50%,
        '60': 60%,
        '70': 70%,
        '80': 80%,
        '90': 90%,
        '100': 100%,
        'auto': auto
);
@each $key, $value in $space-value {
  .#{$prefix}w-#{$key} {
    width: $value !important;
  }
  .#{$prefix}h-#{$key} {
    height: $value !important;
  }
}

$vh-value: (
        '50vh': 50vh,
        '100vh': 100vh,
);

@each $key, $value in $vh-value {
  .#{$prefix}h-#{$key} {
    height: #{$value} !important;
  }
}

.#{$prefix}list-unstyled {
  padding-left: 0;
  list-style: none !important;
}

.#{$prefix}text-decoration-none {
  text-decoration: none;
}
