@use "../functions/functions" as function;
@import "colors/variables";
@import "status/variables";
@import "opacity/variables";

// text 客製主題
$text-colors:(
        1:#737373,
        2:#9C9C9C,
        unchange: #3C3B3E,
        placeholder:#DBDBDB
);
$text-colors-dark:(
        1:#F5F7FA,
        2:#B9B9B9,
        unchange: #3C3B3E,
        placeholder:#676668
);

@mixin generate-text-colors($color-map, $color-name) {
  @each $key, $color in $color-map {
    .ud-text-#{$color-name}-#{$key} {
      --ud-text-opacity: 1;
      color: rgba(#{function.hex-to-rgb($color)}, var(--ud-text-opacity)) !important;
    }
  }
}

:root {
  /* Color level */
  @include generate-text-colors($gray-colors, 'gray');
  @include generate-text-colors($blue-colors, 'blue');
  @include generate-text-colors($deep-blue-colors, 'deep-blue');
  /* Status */
  @include generate-text-colors($good-colors, 'good');
  @include generate-text-colors($warning-colors, 'warning');
  @include generate-text-colors($error-colors, 'error');
  @include generate-text-colors($unknown-colors, 'unknown');
  @include generate-text-colors($ignore-colors, 'ignore');
  @include generate-text-colors($oob-colors, 'am');
  @each $color-name, $color-value in $text-colors {
    --ud-text-color-#{$color-name}: #{$color-value};
  }
}
@each $color-name, $color-value in $text-colors {
  .ud-text-#{$color-name} {
    --ud-text-opacity: 1;
    color: rgba(#{function.hex-to-rgb($color-value)}, var(--ud-text-opacity)) !important;
  }
}
.dark {
  /* Color level */
  @include generate-text-colors($dark-gray-colors, 'gray');
  @include generate-text-colors($dark-blue-colors, 'blue');
  @include generate-text-colors($dark-deep-blue-colors, 'deep-blue');
  /* Status */
  @include generate-text-colors($dark-good-colors, 'good');
  @include generate-text-colors($dark-warning-colors, 'warning');
  @include generate-text-colors($dark-error-colors, 'error');
  @include generate-text-colors($dark-unknown-colors, 'unknown');
  @include generate-text-colors($dark-ignore-colors, 'ignore');
  @include generate-text-colors($dark-oob-colors, 'am');
  @each $color-name, $color-value in $text-colors-dark {
    --ud-text-color-#{$color-name}: #{$color-value};
    .ud-text-#{$color-name} {
      --ud-text-opacity: 1;
      color: rgba(#{function.hex-to-rgb($color-value)}, var(--ud-text-opacity)) !important;
    }
  }
}

@each $name in $opacity {
  .ud-text-opacity-#{$name} {
    --ud-text-opacity: #{$name / 100} !important;
  }
}